import(GenomicRanges)
import(shiny)
importFrom(IRanges, IRanges, mcols, elementLengths, trim)
importFrom(Rsamtools, BamFile, getSeq)
importFrom(ggplot2, ggplot, geom_pointrange, geom_linerange, aes, aes_string, geom_point, geom_hline, geom_vline, theme_bw, xlim, ylim, xlab, ylab, coord_cartesian, scale_y_log10)
importFrom(ggbio, autoplot)
importFrom(VariantAnnotation, VRanges)
importFrom(h5vc, tallyBAM)
importFrom(exomeCopy, subdivideGRanges)
importFrom(SomaticSignatures, seqchar)

export(acCi, nhsCi)
export(scoreTest, nmTest, feTest)
export(ciOutside, ciCovers, ciOverlap, ciWidth)
export(plotConfidenceIntervals, plotAbundanceShift)
export(coverageProbability)
export(ciAdjustLevel)
export(rariant, rariantStandalone)
export(pos2gr, gr2pos)
export(readRariant, writeRariant)
export(rariantInspect)
export(splitSampleBinom)
