import(GenomicRanges)
import(methods)
import(shiny)
import(ggplot2)
importFrom(S4Vectors, metadata, "metadata<-", mcols)
importFrom(IRanges, IRanges, elementLengths, trim)
importFrom(Rsamtools, BamFile, path, getSeq)
#importFrom(ggplot2, ggplot, geom_pointrange, geom_linerange, aes, aes_string, geom_point, geom_hline, geom_vline, geom_abline, theme_bw, xlim, ylim, xlab, ylab, coord_cartesian, scale_y_log10, scale_fill_manual, scale_color_manual)
importFrom(ggbio, autoplot)
importFrom(VariantAnnotation, VRanges)
importFrom(h5vc, tallyBAM)
importFrom(exomeCopy, subdivideGRanges)
importFrom(SomaticSignatures, seqchar)
importFrom(VGAM, logit)
importFrom(dplyr, rbind_all)

export(acCi, nhsCi)
export(scoreTest, nmTest, feTest)
export(ciOutside, ciCovers, ciOverlap, ciWidth)
export(plotConfidenceIntervals, plotAbundanceShift)
export(coverageProbability)
export(ciAdjustLevel)
export(rariant, rariantStandalone)
export(pos2gr, gr2pos)
export(readRariant, writeRariant)
export(rariantInspect)
export(splitSampleBinom)
export(tallyBamRegion)
#export(filterCalls)
