import(GenomicRanges)
import(methods)
import(shiny)
import(ggplot2)
import(S4Vectors)
import(GenomeInfoDb)
import(IRanges)
importFrom(Rsamtools, BamFile, path, getSeq)
#importFrom(ggplot2, ggplot, geom_pointrange, geom_linerange, aes, aes_string, geom_point, geom_hline, geom_vline, geom_abline, theme_bw, xlim, ylim, xlab, ylab, coord_cartesian, scale_y_log10, scale_fill_manual, scale_color_manual)
importFrom(ggbio, autoplot, tracks)
importFrom(VariantAnnotation, VRanges)
importFrom(exomeCopy, subdivideGRanges)
importFrom(SomaticSignatures, seqchar)
importFrom(VGAM, logit)
importFrom(dplyr, rbind_all)
importFrom(reshape2, melt)

export(acCi, nhsCi)
export(scoreTest, nmTest, feTest)
export(ciOutside, ciCovers, ciOverlap, ciWidth)
export(plotConfidenceIntervals, plotAbundanceShift)
#export(plotShiftSupport)
export(coverageProbability)
export(ciAdjustLevel)
export(rariant, rariantStandalone)
export(pos2gr, gr2pos)
export(readRariant, writeRariant)
export(rariantInspect)
export(splitSampleBinom)
export(tallyBamRegion)
export(eventFillScale, verdictColorScale, rateFillScale, baseFillScale)
export(yesNoMaybe)
export(updateCalls, mergeCalls, filterCalls, findCalls)
export(evidenceHeatmap)
export(tallyPlot)
